<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body *ngIf="allcheck" class="container">
    
<table class="table table-striped table-sm w-75 table-hover">
 
<thead>   <tr>
        <th scope="col">
            orderid
        </th>
        <th scope="col">
            quan value
        </th>
        <th scope="col">
            order Name
           
         </th>
         <th scope="col">
            deliveryStus
         </th>
         <th scope="col">
            dateoford
         </th>
         <th scope="col">
            dateofdel
         </th>
         <th scope="col">
            totalprice
         </th>
        
    </tr>
</thead>
<tbody>
    <tr *ngFor="let b of orders">
<td> {{b.orderid}}</td>
<td>{{b.quanvalue}}</td>
<td>{{b.name}}</td>
<td>{{b.deliveryStus}}</td>
<td>{{b.dateoford}}</td>
<td>{{b.dateofdel}}</td>
<td>{{b.totalprice}}</td>
<!--<td><button  class="btn btn-danger" (click)="delete(b.bookid)" type="button">Delete</button></td>

<td><button ><a style="text-decoration:none" routerLinkActive="active" routerLink="edit">Edit</a><br>
</button></td>

<td><button  class="btn btn-danger" (click)="update(b.bookid)" type="button">update</button></td>
-->
</tr>
</tbody>
</table>
</body>
