<nav class="navbar navbar-expand-sm   bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li *ngIf="check" class="nav-item" >
        <a class="nav-link" routerLink='list'>Display RawMaterial Orders</a>

      </li>

      <li *ngIf="check" class="nav-item ">
        <a class="nav-link" routerLink='listproduct'>Display Product orders</a>

      </li>
      <li *ngIf="check" class="nav-item ">
        <a class="nav-link" routerLink='add'><!--<span class="material-icons">add_shopping_cart</span>-->Order Raw Material</a>

      </li>
      <li *ngIf="check" class="nav-item ">
        <a class="nav-link" routerLink='addproductorder'>Order Product </a>

      </li>
     
     
     
    </ul>
  </nav>
  <router-outlet></router-outlet>