<!-- raw material stock -->
<div class="container pb-5" id="RawMaterialStockID">
    <div class="row pb-5 mt-5">
      <div class="col-md-6 offset-md-3 mt-3">
        
        <form class="text-center border border-light p-5" #rawmaterial="ngForm" (ngSubmit)="requestdata(rawmaterial.value)">
  
            <p class="h4 text-left">Raw Material Stock</p>
  
            <p class="text-left">Enter Order ID</p>
            <input type="number" id="" name="orderId" class="form-control mb-4" placeholder="Enter Raw Material Order ID" ngModel>
  
            <button class="btn-sm teal text-white btn rounded" type="submit">Submit</button>
        </form>
        <div class="text-center"><button class="btn-sm teal text-white btn rounded" (click)="showtable()">Fetch All Orders</button> 
        </div>
        </div>
    </div> 
    
  </div>
  <div [innerHTML]="message"></div>
 
  <!-- end of raw material stock -->
<table *ngIf="table" class="table  table-sm w-75 table-hover" style="margin-left:auto;margin-right:auto;">

<thead>
  <tr>
    <th>Order Id</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  
</thead>
<tbody>
  <tr *ngFor="let r of rmslist" >
      <td> <input id="x" type="text" [(ngModel)]= "r.orderId" readonly></td>
      <td><input id="x" type="text" [(ngModel)]= "r.name" readonly></td>
     <td> <button (click)="requestdata(r)" class="btn-sm teal text-white btn rounded" >Fetch Order</button></td>
  </tr>
</tbody>
  </table>

  